block header-hs {

    position: absolute;

    modifier sticky {
        
        position: fixed;

    }


    element main {

        color: #fafafa;

        modifier positive {
            color: red;
        }

    }

}